rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    match /users/{uid}/photos/{fileName} {
      allow read: if signedIn();
      allow write, delete: if signedIn() && request.auth.uid == uid;
    }
  }
}
